* {
  padding: 0;
  overflow: hidden;
  border: 0px;
  margin: 0;
  list-style: none;
}

html, body { 
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('resources/MonoSocialIconsFont-1.10.eot');
    src: url('resources/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('resources/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('resources/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('resources/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('resources/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.circular {
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url(images/avatar.jpg) no-repeat;
  background-size: 150px 150px;
}

.circular img {
  opacity: 0;
  filter: alpha(opacity=0);
}

.bar {
  background-color:rgba(54,54,54,.8);
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
  float: left;
  background-size: cover;
  margin-left: 10%;
  margin-top: 0px;

  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#social {
  position: relative;
  color: #fff;
  font-size: 80px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}
